.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div {
  background-color: #ffffff;
  border: 1px none;
  height: 852px;
  position: relative;
  width: 393px;
}

.home-page .group {
  height: 160px;
  left: 213px;
  position: absolute;
  top: 220px;
  width: 134px;
}

.home-page .overlap-group {
  background-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 132px;
  left: 0;
  position: absolute;
  top: 0;
  width: 132px;

}

.home-page .chatbotButton {
  background-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 132px;
  left: 0;
  position: absolute;
  top: 0;
  width: 292px;

}

.home-page .img {
  height: 90px;
  left: 21px;
  position: absolute;
  top: 21px;
  width: 90px;
}

.home-page .text-wrapper {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 140px;
  white-space: nowrap;
}

.home-page .overlap {
  background-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 132px;
  left: 53px;
  position: absolute;
  top: 400px;
  width: 132px;
}

.home-page .img-2 {
  height: 90px;
  left: 21px;
  position: absolute;
  top: 18px;
  width: 90px;
}

.home-page .edit-calendar-black-wrapper {
  background-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 132px;
  left: 213px;
  position: absolute;
  top: 400px;
  width: 132px;
}

.home-page .text-wrapper-2 {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 70px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 540px;
  white-space: nowrap;
}

.home-page .text-wrapper-3 {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 242px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 540px;
  white-space: nowrap;
}

.home-page .question-answer-wrapper {
  background-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 132px;
  left: 54px;
  position: absolute;
  top: 590px;
  width: 292px;
}

.home-page .question-answer {
  height: 90px;
  left: 101px;
  position: absolute;
  top: 33px;
  width: 90px;
}

.home-page .text-wrapper-4 {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 176px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 730px;
  white-space: nowrap;
}

.home-page .h-1 {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 110px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.home-page .what-would-you-like {
  color: #000000;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 28px;
  font-weight: 600;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 80px;
}

.home-page .group-2 {
  height: 160px;
  left: 53px;
  position: absolute;
  top: 220px;
  width: 134px;
}

.home-page .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 136px;
  white-space: nowrap;
}



.box {
  background-color: transparent;
  height: 68px;
  right: 40px;
  position: fixed;
  top: 30px;
  width: 77px;
}

.box .frame-wrapper {
  border: 0px none;
  height: 68px;
  width: 77px;
}


.box .frame {
  height: 68px;
  right: 40px;
  position: fixed;
  top: 30px;
  width: 77px;
}
















