.home-caregivers {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home-caregivers .div {
    background-color: #ffffff;
    border: 1px none;
    height: 852px;
    position: relative;
    width: 393px;
  }
  
  .home-caregivers .overlap {
    height: 297px;
    left: 0;
    position: absolute;
    top: -38px;
    width: 393px;
  }
  
  .home-caregivers .rectangle {
    background-color: #56cb99;
    height: 222px;
    left: 0;
    position: absolute;
    top: 0;
    width: 393px;
  }
  
  .home-caregivers .group {
    height: 150px;
    left: 122px;
    position: absolute;
    top: 147px;
    width: 150px;
  }
  
  .home-caregivers .ellipse {
    background-color: #ffffff;
    border-radius: 28px;
    height: 56px;
    left: 9px;
    position: absolute;
    top: 122px;
    width: 56px;
  }
  
  .home-caregivers .arrow {
    height: 29px;
    left: 23px;
    position: absolute;
    top: 135px;
    width: 28px;
  }
  
  .home-caregivers .text-wrapper {
    color: #000000;
    font-family: "Lato-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 266px;
    white-space: nowrap;
    width: 304px;
  }
  
  .home-caregivers .group-wrapper {
    height: 54px;
    left: 133px;
    position: absolute;
    top: 354px;
    width: 127px;
  }
  
  .home-caregivers .div-wrapper {
    height: 54px;
    position: relative;
    width: 129px;
  }
  
  .home-caregivers .text-wrapper-2 {
    color: #000000;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    height: 54px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 127px;
  }
  
  .home-caregivers .rectangle-wrapper {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 30px;
    left: 51px;
    position: absolute;
    top: 433px;
    width: 292px;
  }
  
  .home-caregivers .rectangle-2 {
    background-color: #56cb99;
    border-radius: 10px;
    height: 30px;
    width: 42px;
  }
  
  .home-caregivers .vector {
    height: 30px;
    left: 57px;
    position: absolute;
    top: 471px;
    width: 30px;
  }
  
  .home-caregivers .text-wrapper-3 {
    color: #000000;
    font-family: "Lato-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    left: 93px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 470px;
    width: 219px;
  }
  
  .home-caregivers .group-2 {
    background-color: #56cb99;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 89px;
    left: 51px;
    position: absolute;
    top: 712px;
    width: 292px;
  }
  
  .home-caregivers .overlap-group-wrapper {
    height: 57px;
    left: 61px;
    position: relative;
    top: 16px;
    width: 183px;
  }
  
  .home-caregivers .overlap-group {
    height: 57px;
    position: relative;
    width: 181px;
  }
  
  .home-caregivers .text-wrapper-4 {
    color: #000000;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    height: 57px;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 147px;
  }
  
  .home-caregivers .call {
    height: 40px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 40px;
  }
  
  .home-caregivers .overlap-wrapper {
    height: 52px;
    left: 88px;
    position: absolute;
    top: 522px;
    width: 219px;
  }
  
  .home-caregivers .overlap-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #00000040;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 52px;
    position: relative;
    width: 217px;
  }
  
  .home-caregivers .text-wrapper-5 {
    -webkit-text-stroke: 1px #00000040;
    color: #000000;
    font-family: "Lato-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 34px;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 186px;
  }
  