/* Book service page */

.booking-service-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.booking-service-page .div {
  background-color: #ffffff;
  border: 1px none;
  height: 852px;
  position: relative;
  width: 393px;
}

.booking-service-page .text-wrapper {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 132px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 93px;
  white-space: nowrap;
}

.booking-service-page .overlap-group {
  border-radius: 10px;
  height: 58px;
  left: 29px;
  position: absolute;
  top: 231px;
  width: 336px;
}

.booking-service-page .rectangle {
  background-color: #56cb99;
  border-color: #56cb99;
  border-radius: 10px;
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.booking-service-page .text-wrapper-2 {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  left: 94px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
}

.arrow-overlap {
  background-color: #56cb99;
  border-color: #56cb99;
  border-radius: 28px;
  height: 56px;
  left: 12px;
  position: absolute;
  top: 105px;
  width: 56px;
}

.arrow {
  height: 29px;
  left: 14px;
  position: absolute;
  top: 13px;
  width: 28px;
}


/* Book Add service page */

.dashboard {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dashboard .div {
  background-color: #ffffff;
  border: 1px none;
  height: 852px;
  position: relative;
  width: 393px;
}

.dashboard .overlap {
  background-color: #56cb99;
  border-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 78px;
  left: 29px;
  position: absolute;
  top: 210px;
  width: 336px;
}

.dashboard .text-wrapper {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
}

.dashboard .overlap-group {
  background-color: #56cb99;
  border-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 86px;
  left: 25px;
  position: absolute;
  top: 452px;
  width: 344px;
}

.dashboard .div-wrapper {
  background-color: #56cb99;
  border-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 86px;
  left: 25px;
  position: absolute;
  top: 452px;
  width: 344px;
}

.dashboard .text-wrapper-2 {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  left: 126px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
}

.dashboard .div-wrapper {
  background-color: #56cb99;
  border-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 86px;
  left: 25px;
  position: absolute;
  top: 694px;
  width: 344px;
}

.dashboard .text-wrapper-3 {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
}

.dashboard .overlap-2 {
  background-color: #56cb99;
  border-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 86px;
  left: 25px;
  position: absolute;
  top: 573px;
  width: 344px;
}

.dashboard .text-wrapper-4 {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
}

.dashboard .overlap-3 {
  background-color: #56cb99;
  border-color: #56cb99;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 86px;
  left: 25px;
  position: absolute;
  top: 331px;
  width: 344px;
}

.dashboard .text-wrapper-5 {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
}

.dashboard .h-1 {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 132px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 90px;
  white-space: nowrap;
}

/* Booking Locations */

.booking-location {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.booking-location .div {
  background-color: #ffffff;
  border: 1px none;
  height: 852px;
  position: relative;
  width: 393px;
}

.booking-location .text-wrapper {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 127px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 91px;
  white-space: nowrap;
}

.booking-location .overlap {
  border-radius: 10px;
  height: 200px;
  left: 74px;
  position: absolute;
  top: 323px;
  width: 246px;
}

.booking-location .rectangle {
  background-color: #56cb99;
  border-radius: 10px;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 246px;
}

.booking-location .text-wrapper-2 {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 82px;
}

.booking-location .overlap-group {
  background-color: #56cb99;
  border-radius: 10px;
  height: 200px;
  left: 74px;
  position: absolute;
  top: 586px;
  width: 246px;
}

.booking-location .text-wrapper-3 {
  color: #000000;
  font-family: "Lato-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  left: 75px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 82px;
}

.booking-location .p {
  color: #6d6d6d;
  font-family: "Lato-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 280px;
  white-space: nowrap;
}

/* key pad */
.key-pad {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.key-pad .div {
  background-color: #ffffff;
  border: 1px none;
  height: 852px;
  position: relative;
  width: 393px;
}

.key-pad .find-GP-clinic-by {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 94px;
}

.key-pad .rectangle {
  height: 68px;
  left: 42px;
  position: absolute;
  top: 211px;
  width: 310px;
}

.key-pad .overlap {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000040;
  border-radius: 32px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 123px;
  position: absolute;
  top: 765px;
  width: 147px;
}

.key-pad .text-wrapper {
  color: #000000;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 28px;
  font-weight: 600;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.key-pad .overlap-group {
  /* background-image: url(./rectangle-11.png); */
  border-radius: 10px;
  background-color: #56cb99;
  background-size: 100% 100%;
  height: 91px;
  left: 60px;
  position: absolute;
  top: 415px;
  width: 90px;
}

.key-pad .text-wrapper-2 {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  width: 19px;
}

.key-pad .div-wrapper {
  /* background-image: url(./rectangle-8.png); */
  border-radius: 10px;
  background-color: #56cb99;
  background-size: 100% 100%;
  height: 91px;
  left: 152px;
  position: absolute;
  top: 313px;
  width: 90px;
}

.key-pad .text-wrapper-3 {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  width: 18px;
}

.key-pad .overlap-2 {
  /* background-image: url(./rectangle-9.png); */
  border-radius: 10px;
  background-color: #56cb99;
  background-size: 100% 100%;
  height: 91px;
  left: 60px;
  position: absolute;
  top: 523px;
  width: 90px;
}

.key-pad .text-wrapper-4 {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  white-space: nowrap;
  width: 20px;
}

.key-pad .overlap-3 {
  /* background-image: url(./rectangle-13.png); */
  border-radius: 10px;
  background-color: #56cb99;
  background-size: 100% 100%;
  height: 91px;
  left: 152px;
  position: absolute;
  top: 415px;
  width: 90px;
}

.key-pad .overlap-4 {
  /* background-image: url(./rectangle-14.png); */
  border-radius: 10px;
  background-color: #56cb99;
  background-size: 100% 100%;
  height: 91px;
  left: 152px;
  position: absolute;
  top: 523px;
  width: 90px;
}

.key-pad .overlap-5 {
  /* background-image: url(./rectangle-15.png); */
  background-color: #56cb99;
  border-radius: 10px;
  background-size: 100% 100%;
  height: 91px;
  left: 244px;
  position: absolute;
  top: 415px;
  width: 90px;
}

.key-pad .overlap-6 {
  /* background-image: url(./rectangle-16.png); */
  border-radius: 10px;
  background-color: #56cb99;
  background-size: 100% 100%;
  height: 91px;
  left: 244px;
  position: absolute;
  top: 523px;
  width: 90px;
}

.key-pad .text-wrapper-5 {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  white-space: nowrap;
  width: 18px;
}

.key-pad .overlap-7 {
  /* background-image: url(./rectangle-17.png); */
  border-radius: 10px;
  background-color: #56cb99;
  background-size: 100% 100%;
  height: 91px;
  left: 152px;
  position: absolute;
  top: 625px;
  width: 90px;
}

.key-pad .overlap-8 {
  /* background-image: url(./rectangle-10.png); */
  border-radius: 10px;
  background-color: #56cb99;
  background-size: 100% 100%;
  height: 91px;
  left: 244px;
  position: absolute;
  top: 313px;
  width: 90px;
}

.key-pad .text-wrapper-6 {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  white-space: nowrap;
  width: 18px;
}

.key-pad .arrow-wrapper {
  background-color: #56cb99;
  border-radius: 28px;
  height: 56px;
  left: 8px;
  position: absolute;
  top: 87px;
  width: 56px;
}

.key-pad .arrow {
  height: 29px;
  left: 14px;
  position: absolute;
  top: 13px;
  width: 28px;
}

.key-pad .overlap-9 {
  /* background-image: url(./rectangle-12.png); */
  background-color: #56cb99;
  background-size: 100% 100%;
  border-radius: 10px;
  height: 91px;
  left: 60px;
  position: absolute;
  top: 313px;
  width: 90px;
}
